**/.DS_Store
**/.idea
**/.bowerrc
**/node_modules
**/dist
**/.tmp
AngularJS/conFusion/bower_components
AngularJS/conFusion/nbproject
/Ionic/conFusion/nbproject/private/
/NodeJS/node-express-gen/nbproject/private/
/NodeJS/rest-server/nbproject/private/
/NodeJS/rest-server-passport/nbproject/private/
/NodeJS/loopback-server/nbproject/private/